@page "/"

<link href="MyApplication.styles.css" rel="stylesheet" />
<PageTitle>MainBlock</PageTitle>

<div class="context">
    <MudGrid Justify="Justify.Center">
        <MudItem>
        </MudItem>
        <MudItem>
            <MudText Typo="Typo.h3" GutterBottom="true">Search By College</MudText>
            <MudText Typo="Typo.h6" GutterBottom="true">Сайт специально создан для облегчения</MudText>
        </MudItem>



    </MudGrid>

</div>


<div class="area">
    <ul class="circles --mud-palette-black">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
